<div class="shadow-sm">
  <div class="background-section">
    <div class="bg-custom p-5 rounded">
      <div class="text-center">
        <h1 class="display-4">Hi, I'm Teddy Kibuthu</h1>
        <h3>A Software Engineer</h3>
      </div>

      <!-- -----navigation------ -->
      <nav class="navbar-expand-md border-bottom mt-3">
        <div class="container">
          <ul class="nav justify-content-center">
            <li class="nav-item">
              <a href="" class="nav-link text-secondary">Home</a>
            </li>
            <li class="nav-item">
              <a href="" class="nav-link text-secondary">Portfolio</a>
            </li>
            <li class="nav-item">
              <a href="" class="nav-link text-secondary">Resume</a>
            </li>
            <li class="nav-item">
              <a href="" class="nav-link text-secondary">Contact</a>
            </li>
          </ul>
        </div>
      </nav>

      <!-- -----Profile Section------ -->
      <div class="profile-section d-flex align-items-center mt-5">
        <div class="profile-image-container">
          <img
            src="/assets/profile.jpg"
            alt="Teddy Kibuthu"
            class="profile-image"
          />
        </div>
        <div class="profile-details text-white ms-5">
          <h3 class="mb-3 bounce-in-top">Get To Know</h3>
          <h2 class="mb-3 slide-in-right">About Teddy Kibuthu</h2>
          <p>
            I am a Software Engineer who enjoys solving problems by creating
            scalable web applications with clean and user-friendly interfaces.
            When I'm not coding, you can find me watching football, a big fan,of
            Manchester City or immersed in a good novel. I pride myself on being
            a meticulous coder with experience in Angular, Java, JavaScript.
            Let's build something amazing together!
          </p>
          <br>
          <button type="button" class="btn btn-primary">Let's engage</button>
        </div>
      </div>
    </div>
  </div>
</div>
