<div class="shadow-sm">
  <div class="background-section">
    <div class="bg-custom p-5 rounded">
      <div class="text-center">
        <h1 class="display-4">Hi, I'm Teddy Kibuthu</h1>
        <h3>A Software Developer</h3>
      </div>

      <!-- -----navigation------ -->
      <nav class="navbar-expand-md border-bottom mt-3">
        <div class="container">
          <ul class="nav justify-content-center">
            <li class="nav-item">
              <a href="home" class="nav-link text-secondary">Home</a>
            </li>
            <li class="nav-item">
              <a href="portfolio" class="nav-link text-secondary">Portfolio</a>
            </li>
            <li class="nav-item">
              <a href="resume" class="nav-link text-secondary">Resume</a>
            </li>
            <li class="nav-item">
              <a href="contact" class="nav-link text-secondary">Contact</a>
            </li>
          </ul>
        </div>
      </nav>

      <!-- -----Profile Section------ -->
      <div class="profile-section d-flex align-items-center mt-5">
        <div class="profile-image-container">
          <img
            src="/assets/profile.jpg"
            alt="Teddy Kibuthu"
            class="profile-image"
          />
        </div>
        <div class="profile-details text-white ms-5">
          <h3 class="mb-3 bounce-in-top">Get To Know</h3>
          <h2 class="mb-3 slide-in-right">About Teddy Kibuthu</h2>
          <p>
            I am a Full Stack Developer with a passion for solving problems by
            developing scalable web applications that feature clean,
            user-friendly interfaces. Precision and accuracy drive my work, and
            I am always eager to learn and grow. When I'm not coding, you'll
            find me enjoying football as a devoted Manchester City fan or
            getting lost in a great novel. With expertise in Angular, Java, and
            JavaScript, I am excited to collaborate and build something
            extraordinary together!
          </p>
          <br />
          <button type="button" class="btn btn-primary" (click)="goToContact()">
            Let's engage
          </button>
        </div>
      </div>

      <!-- What I Can Do Section -->
      <div class="what-i-can-do">
        <h2 class="section-title">What I Can Do</h2>

        <div class="skills-container">
          <div class="skill-category">
            <h3>Programming Languages</h3>
            <div class="skill-item">
              <span class="skill-title">JavaScript</span>
              <div class="progress-bar">
                <div class="progress" style="width: 80%"></div>
              </div>
              <span class="percentage">80%</span>
            </div>
            <div class="skill-item">
              <span class="skill-title">Typescript</span>
              <div class="progress-bar">
                <div class="progress" style="width: 90%"></div>
              </div>
              <span class="percentage">90%</span>
            </div>
            <div class="skill-item">
              <span class="skill-title">Python</span>
              <div class="progress-bar">
                <div class="progress" style="width: 60%"></div>
              </div>
              <span class="percentage">60%</span>
            </div>
          </div>

          <div class="skill-category">
            <h3>Frameworks/Libraries</h3>
            <div class="skill-item">
              <span class="skill-title">Angular</span>
              <div class="progress-bar">
                <div class="progress" style="width: 90%"></div>
              </div>
              <span class="percentage">90%</span>
            </div>
            <div class="skill-item">
              <span class="skill-title">React</span>
              <div class="progress-bar">
                <div class="progress" style="width: 70%"></div>
              </div>
              <span class="percentage">70%</span>
            </div>
            <div class="skill-item">
              <span class="skill-title">Django</span>
              <div class="progress-bar">
                <div class="progress" style="width: 60%"></div>
              </div>
              <span class="percentage">60%</span>
            </div>
          </div>

          <div class="skill-category">
            <h3>UI/Component Styling Libraries</h3>
            <div class="skill-item">
              <span class="skill-title">Bootstrap</span>
              <div class="progress-bar">
                <div class="progress" style="width: 100%"></div>
              </div>
              <span class="percentage">100%</span>
            </div>
            <div class="skill-item">
              <span class="skill-title">Tailwind</span>
              <div class="progress-bar">
                <div class="progress" style="width: 80%"></div>
              </div>
              <span class="percentage">80%</span>
            </div>

            <div class="skill-item">
              <span class="skill-title">CSS</span>
              <div class="progress-bar">
                <div class="progress" style="width: 100%"></div>
              </div>
              <span class="percentage">100%</span>
            </div>
          </div>

          <div class="skill-category">
            <h3>State Management</h3>
            <div class="skill-item">
              <span class="skill-title">NgRx</span>
              <div class="progress-bar">
                <div class="progress" style="width: 75%"></div>
              </div>
              <span class="percentage">75%</span>
            </div>
            <div class="skill-item">
              <span class="skill-title">Redux</span>
              <div class="progress-bar">
                <div class="progress" style="width: 95%"></div>
              </div>
              <span class="percentage">95%</span>
            </div>
          </div>

          <div class="skill-category">
            <h3>Databases</h3>
            <div class="skill-item">
              <span class="skill-title">MySQL</span>
              <div class="progress-bar">
                <div class="progress" style="width: 70%"></div>
              </div>
              <span class="percentage">70%</span>
            </div>
            <div class="skill-item">
              <span class="skill-title">Postgres</span>
              <div class="progress-bar">
                <div class="progress" style="width: 75%"></div>
              </div>
              <span class="percentage">75%</span>
            </div>
          </div>

          <div class="skill-category">
            <h3>Tools & Technologies</h3>
            <div class="skill-item">
              <span class="skill-title">Git</span>
              <div class="progress-bar">
                <div class="progress" style="width: 85%"></div>
              </div>
              <span class="percentage">85%</span>
            </div>
            <div class="skill-item">
              <span class="skill-title">Figma</span>
              <div class="progress-bar">
                <div class="progress" style="width: 90%"></div>
              </div>
              <span class="percentage">85%</span>
            </div>
          </div>
        </div>
      </div>

      <!-- Interests Section (after Soft Skills) -->
      <div class="skill-category interests-section">
        <h3>Interests</h3>
        <ul class="interests-list">
          <li><i class="fas fa-globe"></i>Web3</li>
          <li><i class="fas fa-robot"></i>Artificial Intelligence</li>
          <li><i class="fas fa-brain"></i>Machine Learning</li>
          <li><i class="fas fa-bullhorn"></i>Digital Marketing</li>
        </ul>
      </div>

    </div>
  </div>
</div>
